* {
  box-sizing: border-box;
}
html {
  display: flex;
  justify-content: center;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
  margin: 0;
  border: 10px solid aquamarine;
  font-weight: bolder;
  padding: 30px;

  width: 430px;
}

.play-container div:nth-child(2) {
  font-size: 35px;
}
.play-container div:last-child,
.play-container div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
}

.play-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.player-container {
  display: flex;
  justify-content: flex-starts;
}
.player-container__singer-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-left: 10px;
}
.player-container__singer-title div:first-child {
  font-size: 40px;
}
.player-container__singer-title div:nth-child(2) {
  font-size: 40px;
}
img {
  height: 150px;
  width: 150px;
  border-radius: 10%;
}
.button-container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.button-container > div {
  border: 2px solid black;
  box-shadow: black 20px;
  height: 50px;
  box-shadow: 0px 5px black;
}
.button-container__play-button {
  width: 250px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container div:nth-child(2),
.button-container div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border-radius: 50%;
  margin: 30px;
}
.button-container div:nth-child(3) {
  margin-left: 0;
}
.playlist-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.playlist-container__box {
  display: flex;
  position: relative;
}

.playlist-container__box:nth-child(1) > div:nth-child(1) {
  background-color: tomato;
}
.playlist-container__box:nth-child(2) > div:nth-child(1) {
  background-color: pink;
}
.playlist-container__box:nth-child(3) > div:nth-child(1) {
  background-color: blue;
}
.playlist-container__box:nth-child(4) > div:nth-child(1) {
  background-color: aquamarine;
}
.playlist-container__box > div:nth-child(1) {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 20px;
}
.playlist-container__name div:nth-child(1) {
  font-size: 30px;
}
.playlist-container__name div:nth-child(2) {
  font-size: 15px;
}
