.friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
}
.friends-display-link i:first-child {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 5px;
}
.friends-display-link i:last-child {
  color: rgba(0, 0, 0, 0.3);
  margin-left: 5px;
}
