.alt-header {
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: space-between;

  padding: 20px;
}
.alt-header__column:last-child i:last-child {
  margin-left: 20px;
}
.alt-header__title {
  font-size: 25px;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}
.alt-header__column:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.alt-header__column:nth-child(2) {
  text-align: center;
}
.alt-header__column:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
