.nav {
  position: fixed;
  bottom: 0;
  background-color: #f9f9fa;
  padding: 20px 50px;
  width: 100%;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  box-sizing: border-box;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__a {
  color: #2e363e;
  position: relative;
}
.nav__chat-numbur {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  position: absolute;
  bottom: 15px;
  right: -15px;
}
.nav__setting-red-dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  bottom: 30px;
}
