.nav {
  position: fixed;
  bottom: 0;
  background-color: #f9f9fa;
  padding: 20px 50px;
  width: 100%;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  top: 0;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__a {
  color: #2e363e;
}
