.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: var(--horizontal-space);
}
.screen-header_title {
  font-size: 30px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
.friends-main {
  padding: 0px var(--horizontal-space);
}
