.chat-screen {
  height: 1000vh;
}
.chat-box {
  background-color: #abc1d1;
  width: 500px;
}
.chat-screen .alt-header {
  top: 0px;
  position: fixed;
  width: 500px;
  box-sizing: border-box;
  background-color: #abc1d1;
  display: flex;
  justify-content: space-between;
}
.chat-screen .status-bar {
  top: 0px;
  position: fixed;
  width: 500px;
  box-sizing: border-box;
  background-color: #abc1d1;
}
.chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat__timestamp {
  color: rgba(255, 255, 255, 0.6);
  padding: 8px 15px;
  background-color: #92a4b2;
  border-radius: 25px;
  font-size: 14px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-top: 30px;
}
.message-row__column {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
.message-row img {
  width: 45px;
  height: 45px;
  border-radius: 15px;
}
.message-row__author {
  display: block;
  opacity: 0.6;
  margin-bottom: 10px;
}
.message-row__bubble {
  background-color: white;
  padding: 12px 12px;
  border: 5px;
  border-radius: 16px;
}
.message-row__content {
  display: flex;
  align-items: flex-end;
}
.message-row__time {
  font-size: 14px;
  color: var(--gray);
  margin-left: 5px;
}
.message-row--own {
  justify-content: flex-end;
  margin-top: 40px;
}

.message-row--own span {
  display: block;
}
.message-row--own .message-row__content {
  flex-direction: row-reverse;
}
.message-row--own .message-row__time {
  margin-left: 0;
  margin-right: 5px;
}
.message-row--own .message-row__bubble {
  background-color: var(--yellow);
}
.submit-bar {
  width: 500px;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  background-color: white;
  padding: 5px 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  will-change: transform;
}
.submit-bar__column {
  box-sizing: border-box;
}
.submit-bar .submit-bar__column:first-child {
  width: 10%;
  transition: all 0.2s ease-in-out;
}
.submit-bar .submit-bar__column:last-child {
  width: 90%;
}
.submit-bar__column:last-child input {
  width: 100%;
  height: 30px;
  border: var(--main-border);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all ease-in-out 0.3s;
}
.submit-bar__column:last-child {
  position: relative;
}
.submit-bar__column:last-child > i,
.submit-bar__column:last-child button {
  position: absolute;
  right: 0;
  top: 10px;
  transition: all ease-in-out 0.3s;
}
.submit-bar__column:last-child i {
  right: 40px;
}
.submit-bar__column > i {
  color: var(--gray);
}

.submit-bar__column:last-child button {
  width: 31px;
  height: 31px;
  top: 1.5px;
  border: none;
  border-radius: 25px;
  background-color: var(--yellow);
  right: -4px;
}
.submit-bar:focus-within .submit-bar__column:first-child {
  opacity: 0;
}
.submit-bar:focus-within input {
  width: 467px;
  transform: translateX(-11%) translateY(-80px);
}
.submit-bar:focus-within .submit-bar__column:last-child button {
  transform: translateY(-80px);
}

.submit-bar:focus-within .submit-bar__column:last-child > i,
.submit-bar:focus-within .submit-bar__column:last-child button {
  transform: translateY(-80px);
}
.submit-bar:focus-within {
  transform: translateY(80px);
}

@keyframes first-message {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.message-row:nth-child(2) {
  animation: first-message 1s ease-in-out;
}
@keyframes second-message {
  0% {
    transform: translatey(30px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    transform: translatey(30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.message-row:last-child {
  animation: second-message 2s ease-in-out;
}
