.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 15px 0px;
}
.recommended-friends__title {
  color: var(--gray);
}
.recommended-friends span {
  display: block;
  margin: 70px 0px;
  text-align: center;
  font-size: 16px;
  color: var(--gray);
}
.open-chat {
  margin-bottom: 10px;
  padding-top: 10px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
}
.open-chat__header h4 {
  opacity: 0.7;
}
.open-chat__header span {
  opacity: 0.4;
}
.find-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.find-post:last-child {
  border-top: var(--main-border);
}
.find-post__column:nth-child(1) {
  text-align: justify;
}
.find-post__hashtag,
.find-post__members {
  color: var(--gray);
}
.find-post__hashtag {
  margin: 5px 0px;
  text-transform: uppercase;
  font-size: 12px;
}
.find-post__members {
  display: flex;
  align-items: center;
}
@keyframes members-img-spin {
  0% {
    transform: none;
  }
  100% {
    transform: rotateY(360deg);
  }
}
.find-post__members img {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 5px;
  animation: members-img-spin linear 3s infinite;
}
.find-post__active {
  color: #ffb0e0;
  opacity: 1;
}
.find-post__column:nth-child(2) {
  display: flex;
  position: relative;
}
.find-post__big-image {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}
.find-post__like-button {
  background-color: black;
  color: white;
  height: max-content;
  padding: 5px 7px;
  border-radius: 15px;
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: 4px;
}

@keyframes heartBeat {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
    color: red;
  }
  100% {
    transform: none;
  }
}
.find-post__like-button i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
