.settings-ul__li:not(:last-child) {
  padding: 20px 0px;
  border-bottom: var(--setting-border);
  font-size: 16px;
}

.settings-ul__li:last-child {
  padding: 20px 0px 40px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.settings-ul:last-child {
  margin-top: 10px;
}
.settings-ul__li i {
  margin-right: 20px;
  font-size: 18px;
}
.settings-ul:last-child .settings-ul__li:last-child {
  border: none;
}
.settings-ul__li img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 10px;
}

.settings-ul__li:last-child {
  position: relative;
}
.settings-ul__li:last-child span:last-child {
  position: absolute;
  right: 0px;
  color: var(--gray);
  font-size: 18px;
}
@keyframes settings-slide {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.settings-main-screen {
  animation: settings-slide 1s ease-in-out;
}
