@import "header.css";
@import "main.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  height: 120vh;
  display: flex;
  justify-content: center;
  margin: 0;
}
.wrapper {
  margin: 0;
  height: 125vh;
  width: 320px;
  background-color: white;
}
h3,
h4,
h5,
h6 {
  margin: 0;
}
