@import "reset.css";
/* components */
@import "components/status-bar.css";
/* screens */
@import "screens/main-screen-left.css";
@import "screens/main-screen-right.css";
body {
  box-sizing: border-box;
  background-color: #f2f2f4;
  height: 100vh;
  padding: 40px 50px 40px 50px;
}
.main {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.main-screen {
  background-color: white;
  width: 300px;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 1px 20px 5px;
}
