@import "reset.css";
@import "variable.css";
/* components */
@import "components/screen-header.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/user-component.css";
/* screens */
@import "screens/friends.css";
@import "screens/login.css";
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}
