body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
}

.big-box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
  border: 2px solid black;
}
.big-box div {
  background-color: teal;
}
.square {
  border: 2px solid white;
  height: 80px;
  width: 80px;
}
.rectangle {
  border: 2px dashed white;
  height: 80px;
  width: 260px;
}
