body {
  height: 100vh;
  background-color: #6bbcbe;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  margin: 0;
  height: 60px;
  width: 60px;
  align-items: center;
}
.container:nth-child(1) {
  justify-content: space-evenly;
  animation: rotate 1s ease-in-out infinite;
}
.container:nth-child(2) {
  justify-content: center;
}
.con1 > div {
  background-color: white;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}
.con2 > div {
  background-color: white;
  height: 15px;
  width: 5px;
  margin: 1px;
  animation: scale 1s ease-in infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }

  50% {
    transform: rotateZ(180deg);
  }
  70% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
@keyframes scale {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(2);
  }
  40% {
    transform: scaleY(1);
  }

  90% {
    transform: scaleY(1);
  }

  100% {
    transform: scaley(1);
  }
}
.con2 > div:nth-child(1) {
  animation-delay: 0;
}
.con2 > div:nth-child(2) {
  animation-delay: 0.1s;
}
.con2 > div:nth-child(3) {
  animation-delay: 0.2s;
}
.con2 > div:nth-child(4) {
  animation-delay: 0.3s;
}
.con2 > div:nth-child(5) {
  animation-delay: 0.4s;
}
