.nav {
  position: fixed;
  bottom: 0;
  background-color: #f9f9fa;
  padding: 20px 50px;
  width: 500px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  box-sizing: border-box;
}
@keyframes nav__ul-animation {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__a {
  color: #2e363e;
  position: relative;
}
@keyframes nav-badge-animation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-7px) rotatey(180deg);
  }
  100% {
    transform: none;
  }
}
.nav__chat-badge {
  position: absolute;
  bottom: 15px;
  right: -15px;
  animation: nav-badge-animation 1.5s ease-in-out infinite;
}
.nav__setting-red-dot {
  position: absolute;
  right: -8px;
  bottom: 30px;
}

@keyframes ul-ani2 {
  0% {
    transform: translateY(80px);
  }
  70% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.nav__li {
  transform: translateY(80px);
  animation: nav__ul-animation 0.5s ease-in-out forwards;
}
.nav__li:nth-child(2) {
  animation-delay: 0.3s;
}
.nav__li:nth-child(3) {
  animation-delay: 0.6s;
}
.nav__li:nth-child(4) {
  animation-delay: 0.9s;
}
