.user-component {
  justify-content: space-between;
  align-items: center;
}

.user-component__avatar-lg {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  margin-right: 20px;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
}
.user-component__avatar-sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: 20px;
}
.user-component__sub-title {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 8px;
  font-size: 17px;
  display: flex;
}
.user-component__title--default {
  font-weight: 400;
}

.user-component__title-emoticon {
  color: var(--gray);
}
.user-component__title-emoticon span {
  margin-right: 5px;
}
.user-component__column:nth-child(2) {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  color: rgba(0, 0, 0, 0.3);
}
.user-component__time + .badge {
  margin-top: 8px;
}
.user-component__exclamation-icon {
  margin-left: 5px;
  display: block;
  text-align: center;
  background-color: white;
  border: 2px solid tomato;
  color: tomato;
  padding: 0px 5px;
  border-radius: 50%;
}
@keyframes alarm {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.chats-main .user-component__sub-title {
  animation: alarm 2s ease-in-out forwards;
}

.chats-main .badge {
  animation: alarm 2s ease-in-out forwards;
}
