.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 102px;
  padding: 25px 10px 0px 10px;
  background-color: #ffce33;
}
.header__text {
  font-weight: 900;
  font-size: 20px;
}
